body {
  background-color: royalblue;
}

.container {
  padding-top: 100px;
}

.card {
  width: 350px;
}

.card-img-top {
  max-width: 100%;
}

.active {
  -webkit-box-shadow: -9px 22px 51px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px 22px 51px -4px rgba(0,0,0,0.75);
  box-shadow: -9px 22px 51px -4px rgba(0,0,0,0.75);
}